<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/loginHead :: head('Member Login')">
<meta charset="UTF-8">
<title>Member Join</title>

</head>
<body>

	<!-- header -->
	<div th:replace="/fragments/default :: header"></div>
	<!-- jumbo -->
	 <div th:replace="/fragments/default :: jumbotron"></div>
	<!-- /member/memberJoin -->
	<!-- com....member.MemberController.setJoin -->
	
	<!-- com....member.MemberController.setJoin() -->
	<div class="container mt-2" >
		<h2 class="mt-4">Member Login Page</h2>
	
		<form action="./login"  method="post">
			<div class="form-group">
				<label for="id">ID</label> 
				<input type="text" class="form-control" id="id" name="username"
					aria-describedby="idlHelp"> 
					<small id="idlHelp"	class="form-text text-muted">
						We'll never share your email with anyone else.
					</small>
			</div>
			<div class="form-group">
				<label for="pw">Password</label> 
				<input type="password" class="form-control" id="pw" name="password">
			</div>
			<div class="form-group form-check">
				<input type="checkbox" class="form-check-input" id="exampleCheck1">
				<label class="form-check-label" for="exampleCheck1">Check me
					out</label>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div> 
	<!-- footer -->
	 <!-- <h1> Member Login Page</h1>
	
	<main class="form-signin">
	
	  <form action="./login" method="post">
	   
	   
	    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
	
	    <div class="form-floating">
	      <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Username">
	       <label for="floatingInput">Username</label>
	    </div>
	    <div class="form-floating">
	      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
	      <label for="floatingPassword">Password</label>
	    </div>
	
	    <div class="checkbox mb-3">
	      <label>
	        <input type="checkbox" value="remember-me"> Remember me
	      </label>
	    </div>
	    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
	    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
	  </form>
	</main> -->
	
	<!-- footer -->
	  <footer th:replace="/fragments/default :: footer"></footer>
</body>
</html>