
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/loginHead :: head('Member Page')">

</head>
<body>

	<!-- header -->
	<div th:replace="/fragments/default :: header"></div>
	<!-- jumbo -->
	 <div th:replace="/fragments/default :: jumbotron"></div>
	 <!-- /member/memberJoin -->
	<!-- com....member.MemberController.setJoin -->
	<h1> Member Page</h1>
	
	<div class="container">
	   <div class="input-group mb-3 flex-nowrap">
		  <span class="input-group-text" id="addon-wrapping">Username</span>
		  <input type="text" name="username" th:value="${session.member.username}" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
		</div>
		<div class="input-group mb-3 flex-nowrap">
		  <span class="input-group-text" id="addon-wrapping">Password</span>
		  <input type="text" name="password" th:value="${session.member.password}" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="addon-wrapping">
		</div>
		<div class="input-group mb-3 flex-nowrap">
		  <span class="input-group-text" id="addon-wrapping">  &nbsp;&nbsp; Name &nbsp; &nbsp; </span>
		  <input type="text" name="name"  th:value="${session.member.name}" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="addon-wrapping">
		</div>
		<div class="input-group mb-3 flex-nowrap">
		  <span class="input-group-text" id="addon-wrapping">&nbsp;&nbsp;&nbsp;  Email  &nbsp;&nbsp;&nbsp;</span>
		  <input type="text" name="email"  th:value="${session.member.email}" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="addon-wrapping">
		</div>
		<div class="input-group mb-3 flex-nowrap">
		  <span class="input-group-text" id="addon-wrapping">&nbsp;&nbsp;&nbsp; Phone &nbsp;&nbsp;</span>
		  <input type="text" name="phone"  th:value="${session.member.phone}" class="form-control" placeholder="Phone" aria-label="Username" aria-describedby="addon-wrapping">
		</div>
		<div class="input-group mb-3 flex-nowrap">
		  <span class="input-group-text" id="addon-wrapping">&nbsp;&nbsp;&nbsp; Photo &nbsp;&nbsp;</span>
		  <img alt="" src="../resources/upload/member2/${member.memberFileDTO.fileName}">
		</div>
		
		<a href="./memberUpdate"><button class="btn btn-primary">수정</button></a>
	    <a href="./memberDelete"><button class="btn btn-primary">탈퇴</button></a>
		
		
	</div>
	<!-- footer -->
	  <footer th:replace="/fragments/default :: footer"></footer>
</body>
</html>
